@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading
@using Craftorio.Shared
@using System.Net
@inject HttpClient http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@implements IDisposable

@page "/game/{Username}"

<h3>Game</h3>

<nav class="d-flex flex-row bg-dark text-white">
    @foreach(KeyValuePair<string,int> resource in resources)
    {
        <div class="d-flex btn-outline-info">
            @resource.Key: @resource.Value
        </div>
    }
    <div class="d-inline-flex m-2 p-2 border border-2 border-secondary bg-secondary ml-auto text-end">
        @Username
    </div>
</nav>
<div class="container-fluid bg-dark text-white">
    <!--<TileResourceGenerator resource=null></TileResourceGenerator>-->
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    private string sessionToken{ get; set; }
    List<KeyValuePair<string, int>> resources = new List<KeyValuePair<string, int>>();
    protected async override Task OnInitializedAsync()
    {
        sessionToken = localStorage.GetItemAsString("session");
        sessionToken = sessionToken.Substring(1, sessionToken.Length - 2);
        Session s = new Session(Username, sessionToken);
        string username = Username + " " + sessionToken;
        HttpResponseMessage res = await http.PostAsJsonAsync("api/verify", username);
        //HttpResponseMessage res = await http.PostAsJsonAsync<Session>("api/verify", s);
        string verifyRes = await res.Content.ReadAsStringAsync();
        if (verifyRes != "OK")
        {
            Username += "[INVALID]";
        }
        base.OnInitialized();
    }
    public async void Dispose()
    {
        HttpResponseMessage res = await http.PostAsJsonAsync("api/logout", new Session(Username, sessionToken));
    }
}
