@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<a href="/login" class="btn-link">Login page</a>
<a href="/game" class="btn-link">Game page</a>
