@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading
@using Craftorio.Shared
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient http

@page "/Login"

<EditForm Model="@credentials" OnValidSubmit="login">
    <h3>Login</h3>
    <p>
        <label>Username</label>
        <InputText @bind-Value="credentials.Username"></InputText>
    </p>
    <p>
        <label>Password</label>
        <InputText @bind-Value="credentials.Password" type="password"></InputText>
    </p>
    <p>
        <button type="submit" class="btn">@loginBtnText</button>
    </p>
</EditForm>
<p hidden=@wrongPasswordHidden class="text-warning">
    Wrong username and/or password.
</p>
<p>
    This website uses cookies.
</p>


@code {
    private string loginBtnText { get; set; } = "Login";
    private bool wrongPasswordHidden { get; set; } = true;

    private Credentials credentials { get; set; } = Credentials.NullCredentials();

    private async void login(){
        loginBtnText = "Signing in...";
        HttpResponseMessage res = await http.PostAsJsonAsync("api/login", credentials);
        string loginRes = await res.Content.ReadAsStringAsync();
        if(loginRes == "OK"){
            //login successful
            loginBtnText = "Logged in! Please wait...";
            NavigationManager.NavigateTo("/game/"+credentials.Username);
        }else{
            //wrong username and/or password
            wrongPasswordHidden = false;
            loginBtnText = "Login";
        }
        StateHasChanged();
    }
    private async void SaveCookie(){
        await localStorage.SetItemAsync("name", "John Smith");
        var name = await localStorage.GetItemAsync<string>("name");
    }
}